* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    
}

header{
    display: flex;
    justify-content: space-between;
}
header .first {
    margin-left: 50px;
}
.first span {
    padding: 10px
}